/*--------------------------------------------------------------------- 
basic 
---------------------------------------------------------------------*/

* {
    box-sizing: border-box !important;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 0px;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: #2d2d2d;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

/*-- header --*/

.header-area {
    border-top: #6b7908 solid 15px;
    width: 100%;
    
    
    height: 85px;
    background: transparent;
    line-height: 68px;
    border-bottom: #6b7908 solid 3px;
}

.logo a {
    color: #1c1c1b;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
.logo a span {
    color: #6b7908;  
}

.navbar-area {
    text-align: center;
    display: flex;
    justify-content: center;
}

.site-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.site-navbar ul li a {
    color: #1c1c1b;
    font-size: 17px;
    display: block;
    text-decoration: none;
}

.site-navbar ul li {
    padding-right: 55px;
}

.site-navbar ul li:last-child {
    padding-right: 0;
}

.site-navbar ul li a:hover {
    color: #6b7908;
}
.site-navbar ul li a.active {
    color: #6b7908;
}

.d_flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.bread{
    display: none;
}

#banner1 .carousel-item img {
    width: 100%; 
    height: 90vh;
    
}

.carousel-item {
    height: 100%;
    width: 100%;
    
}

.carousel-caption {
    top: 50%;
    z-index: 999;
    position: absolute;
    background-color: red;
   margin: 0 auto;
}

.willom {
    display: flex;
    margin-top: -85px;
}
.willom h1 {
    font-size: 70px;
    line-height: 70px;
    color: #fff;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    background: #6b7908;
    display: inline-block;
    padding: 46px 46px;
    border-radius: 30px;
}

.about {
    background: #fff;
    padding-top: 90px;
}

.d_flex1 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.titlepage {
    padding-bottom: 50px;
}

.titlepage span  {
    font-size: 24px;
    color: #6b7908;
    line-height: 30px;
    font-weight: bold;
    padding-bottom: 15px;
    display:block;
    text-transform: uppercase;
}
.titlepage h2 {
    font-size: 50px;
    color: #999998;
    line-height: 50px;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
}

.titlepage p {
    padding-top: 0px;
}

.text_align_left {
    text-align: left;
}

.about_img figure {
    margin: 0;
}

.about_img figure img {
    transition: ease-in all 0.5s; 
    border-radius: 5px;
}

.about_img figure img:hover {
    box-shadow: 0 0 16px 3px #635d5d38;
    transition: ease-in all 0.5s;
}

/*------- media --------*/
@media (max-width: 900px){
    .navbar-area,
    .navbar-area .site-navbar,
    .navbar-area .site-navbar ul{
        display: none;
    }

    .d_flex .bread{
        display: block;
        text-align: center;
        align-items: center;
    }

    .willom h1 {
        font-size: 30px;
        line-height: 40px;
        color: #fff;
        font-weight: bold;
        margin: 0 auto;
        text-align: center;
        background: #6b7908;
        display: inline-block;
        padding: 40px 40px;
        border-radius: 30px;
    }
}