/*--------------------------------------------------------------------- 
basic 
---------------------------------------------------------------------*/

* {
    box-sizing: border-box !important;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 0px;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: #2d2d2d;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

/*-- header --*/

.header-area {
    
    width: 100%;
    height: 85px;
    background: transparent;
    
    border-bottom: darkgreen solid 3px;
}

.logo a {
    color: #1c1c1b;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
.logo a span {
    color: darkgreen;  
}

.logo a img{
    height: 100px;
    width: 200px;
}

.navbar-area {
    text-align: center;
    display: flex;
    justify-content: center;
}

.site-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.site-navbar ul li a {
    color: #1c1c1b;
    font-size: 17px;
    display: block;
    text-decoration: none;
}

.site-navbar ul li {
    padding-right: 55px;
}

.site-navbar ul li:last-child {
    padding-right: 0;
}

.site-navbar ul li a:hover {
    color: #6b7908;
}
.site-navbar ul li a.active {
    color: #6b7908;
}

.d_flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.bread{
    display: none;
}

.ban1{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("../images/oil-palm-plantation.jpg") center/cover no-repeat;
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 680px;
  width: 100%;
  padding-top: 100px;
}

.banner-content{
    width: 900px;
    margin: 0 auto;
    
}

.banner-content h1{
    color: white;
    font-size: 70px;
    font-weight: bold;
}

.banner-content h2{
    color: yellowgreen;
    font-size: 50px;
}

.banner-content p{
    color: white;
    
    overflow-wrap: break-word;
    word-break: break-word;
}

.willom {
    display: flex;
    margin-top: -85px;
}
.willom h1 {
    font-size: 70px;
    line-height: 70px;
    color: #fff;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    background: darkgreen;
    display: inline-block;
    padding: 46px 46px;
    border-radius: 30px;
}

.about {
    margin-top: 50px;
    background: #fff;
    padding-top: 90px;
    background-color: darkgreen;
    
}

.d_flex1 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.titlepage {
    padding-bottom: 50px;
}

.titlepage span  {
    font-size: 50px;
    color: #6b7908;
    line-height: 30px;
    font-weight: bold;
    padding-bottom: 15px;
    display:block;
    text-transform: uppercase;
}
.titlepage h2 {
    font-size: 50px;
    color: greenyellow;
    line-height: 50px;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
}

.titlepage p {
    padding-top: 0px;
    color: white;
}

.text_align_left {
    text-align: left;
}

.about_img figure {
    margin: 0;
}

.about_img figure img {
    transition: ease-in all 0.5s; 
    border-radius: 5px;
}

.about_img figure img:hover {
    box-shadow: 0 0 16px 3px #635d5d38;
    transition: ease-in all 0.5s;
}

.about_img .img1{
    height: 400px;
    width: 100%;
}

.about_img .img2{
    height: 300px;
    width: 290px;
}

.services {
    background: #fff;
    padding-top: 90px;
}

.services h2{
    color: greenyellow;
}

.services .titlepage {
    padding-bottom: 20px;
}

.services_box {
    margin-top: 30px;
    box-shadow: 0 0 38px rgba(2, 3, 8, 0.14);
    background:#fff;
    margin-bottom: 50px;
    border-radius: 5px;
}

.services_box figure {
    margin: 0;
}

.services_box figure img {
    border-radius: 5px 5px 0 0;
    height: 300px;
    width: 100%;
}

.services_box h3 {
    color: #292928;
    font-size: 30px;
    line-height: 35px;
    font-weight: bold;
       padding-bottom: 20px;
}

.services_box_main .read_more {
    margin: 0 auto; 
    display: block;
}

.veget {
    padding: 40px;
    border-radius: 5px 5px 0 0;
    margin-top: -5px;
    position: relative;
    z-index: 99999;
    background: #fff;
}

.footer {
    
    padding-top: 70px;
    background: darkgreen;
    text-align: center;
}

.copyright {
    margin-top: 70px;
    padding-top: 25px;
    padding-bottom: 25px;
    background: greenyellow;
}

.copyright p {
    color: #fff;
    font-size: 17px;
    line-height: 22px;
    text-align: left;
    font-weight: normal;
}

.copyright a {
    color: #fff;
}

.copyright a:hover {
    color: #111111;
}

ul.social_icon {text-align: right;}
ul.social_icon li {
    display: inline-block;
    margin-left: 40px;
}

ul.social_icon li a i {
    font-size: 17px;
    color: #fff;
    transition: ease-in all 0.5s;
    line-height: 30px;
    border-radius: 50px;
    text-align: center;
}

ul.social_icon li a i:hover {
    color: #111111;
    transition: ease-in all 0.5s;

}



.team h1{
    text-align: center;
    font-size: 50px;
    color: yellowgreen;
    text-decoration: underline;
}

.team p{
    text-align: center;
    margin-top: 20px;
}

.team-container{
    background-color: darkgreen;
    padding-top: 50px;
    padding-bottom: 50px;

}

.team1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 12px 30px rgba(2, 89, 25, 0.25);
}

  

.team1 #name{
    font-weight: bold;
}

.team1 #ceo{
    color: darkgreen;
}

.team1 p{
    text-align: center;
    max-width: 100%;
    overflow-wrap: break-word;
    word-break: break-word;
}

.team1 img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.contact {
    background: #fff;
    padding-top: 90px;
}

.main_form .form_control {
    padding: 0 20px;
    margin-bottom: 30px;
    width: 100%;
    height: 66px;
    background: #fff;
    color: #999998;
    font-size: 18px;
    font-weight: normal;
    border: #6b7908 solid 3px;
}

.main_form .textarea {
    margin-bottom: 40px;
    width: 100%;
    background: #fff;
    color: #999998 !important;
    font-size: 18px;
    font-weight: normal;
    padding: 15px 20px 15px 20px;
    border: #6b7908 solid 3px;
    height: 179px;
}

.main_form .send_btn {
    font-size: 20px;
    transition: ease-in all 0.5s;
    background-color: #323232;
    text-transform: uppercase;
    color: #fff;
    max-width: 169px;
    width: 100%;
    display: block;
    font-weight: 500;
    height: 69px;
    line-height: 69px;
    margin: 0 5px;
    border-radius: 10px;
}

.group_btn {display: flex; justify-content: center;}

.map-responsive {margin-top: 90px;}

.main_form .send_btn:hover {
    background-color: #6b7908;
    transition: ease-in all 0.5s;
    color: #fff;
}

.text_align_center {
    text-align: center;
}

ul.loca li {
    color: #fff;
padding-bottom: 10px;
display: flex;
font-size: 16px;
flex-wrap: wrap;
}
 ul.loca li:last-child {
    padding-right: 0;
}
 ul.loca li a {
   padding-right: 16px;
color: #fff;
margin-top: 4px;
}
 
 ul.Links_footer {
     list-style: none;
     margin: 0;
     padding: 0;
     width: 100%;
     float: left;
}
 ul.Links_footer li a {
    display: block;
     color: #fff;
     font-size: 17px;
     padding-left: 16px;
     margin-top: -34px;
}

.address  h3 {
    color: #fff;
    font-size: 29px;
    font-weight: 500;
    padding-top: 15px;
    padding-bottom: 3px;
    border-bottom: #3e7f21 solid 4px;
    margin-bottom: 20px;
    width: 200px;
    
    text-align: left;
     }

     ul.Links_footer {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        float: left;
   }
    ul.Links_footer li a {
       display: block;
        color: #fff;
        font-size: 17px;
        padding-left: 16px;
        margin-top: -34px;
   }
    
    ul.Links_footer li img {
       padding-bottom: 15px;
       color: white;
   }

     .address img {padding-bottom: 10px;}

     .address{
        text-align: center;
     }

 .address p {
     color: #fff;
     padding-bottom: 20px;
     font-size: 18px;
line-height: 30px;}

.footer .address .form-control {
    padding: 10px 15px;
    border: #ddd solid 1px;
    margin-bottom: 20px;
    box-shadow: inherit;
    border-radius: 10px;
}

.footer .newsletter h3 {
    color: #fff;
    font-size: 17px;
    line-height: 30px;
    display: block;
    padding-bottom: 25px;
    text-transform: uppercase;
}

.form-control:focus, .form-control:hover {
    border: #ddd solid 1px !important;
}

.address .foot-logo{
    width: 200px;
    height: 200px;
}

.footer .address .submit-btn {
    padding: 8px 45px;
 border: #30880d solid 1px;
 background: #30880d;
 color: #fff;
 font-weight: 500;
 font-size: 19px;
 border-radius: 10px;
 }

 .footer .address .submit-btn:hover {
    background: #fff;
    border: #fff solid 1px;
    color: #30880d;
}

/*------- media --------*/
@media (max-width: 900px){
    .navbar-area,
    .navbar-area .site-navbar,
    .navbar-area .site-navbar ul{
        display: none;
    }

    .d_flex .bread{
        display: block;
        text-align: center;
        align-items: center;
    }

    

    .titlepage p{
        color: black;
    }

}

@media (max-width: 800px){
    .banner-content{
        padding-left: 20px;
        width: 500px;
        
    }
    .banner-content h1{
        font-size: 50px;
    }

    .banner-content h2{
        font-size: 30px;
    }

    
  
    
}

@media (max-width: 500px){
    .banner-content p
   {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
   }

   .willom h1 {
    
    
    
    
}
}

@media (max-width: 600px){
     .about {
    background: darkgreen;
    padding-top: 90px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.about p{
    color: white;
}
}